<link rel="stylesheet" href="css/contact_style.css" />

<div id="contact" class="w-100">
  <h1>
    CONTACT
  </h1>
  <div class="row">
    <div id="gen" class="col-sm-6">
      <table class="table table-hover table-responsive-stack">
        <tbody>
          <tr>
            <th scope="row"><i class="fas fa-envelope"></i></th>
            <td>scao95014@gmail.com</td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-phone-alt"></i></th>
            <td>(408)-368-7691</td>
          </tr>
          <tr>
            <th scope="row"><i class="fab fa-linkedin"></i></th>
            <td><a href="https://www.linkedin.com/in/sccao/">sccao</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="form" class="col-sm-6">
      <form id="myForm" target="_top" ng-on-click="subForm();">
        Name:
        <input type="text" name="name" required /><br /><br />
        E-mail:
        <input type="text" name="mail" required /><br /><br />
        Comment:<br />
        <input type="text" name="comment" required /><br /><br />
        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Send" />
          <input type="reset" class="btn btn-primary" value="Reset" />
        </div>
      </form>
    </div>
  </div>
</div>
