<link rel="stylesheet" href="css/home_style.css"> <!-- custom styles -->
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap"
  rel="stylesheet"
/>

<div id="centerpiece" onclick="window.location='/contact'">
  <div id="card" class=" text-center my-auto">
    <h1 id="name">SOPHIA CAO</h1>
<div style="height:10px">
</div>
    <p>
      a programmer and multidisciplinary artist who likes discovering links between things. always learning. always growing. 
    </p>
  </div>
</div>

<div class="row" id="bg">
      <div id="art" class="col-sm-4 slice text-center" onclick="window.location='/art'">
        <div > 
        <h3 class="label text-center">
          ARTIST
        </h3>
        </div>
      </div>
      <div id="code"class="col-sm-4 slice text-center" onclick="window.location='/cs'">
        <div id="codetgt">
          
        <h3 class="label text-center">
          CODER
        </h3>
      </div>
          
      </div>
      <div id="person" class="col-sm-4 slice text-center" onclick="window.location='/about'">
        <div >
          
        <h3 class="label text-center">
          PERSON
        </h3>
      </div>
          
      </div>
    </div>
  </div>
</div>
