<link rel="stylesheet" href="css/cs_style.css">

<div class="section">
  <div class=" text-center my-auto">
    <h1>SOPHIA CAO</h1>
    <p>
      Here are some projects I'm proud of. For more, check out my itch.io page!
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>BIRFDAY</h1>
    <p>
      A solo project. Friends help friends in need.
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>GLOOMPHALOOMPH</h1>
    <p>
      just put something here gdi
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>COLLABORATIVE</h1>
    <p>
      PICK ME UP
      just put links they're so bad holy shit i nvr wanna look at them again
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>EXPERIMENTS</h1>
    <p>
      2018 - A 2D walking simulator about being at home, being alone, and being haunted.
    </p>
  </div>
</div>
