 <link rel="stylesheet" href="css/art_style.css">
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap"
  rel="stylesheet"
/>

<div id="centerpiece">
  <div id="card" class="">
  	<div class=" text-center my-auto ">
    <h1>BIO</h1>
    <p>
Sophia Cao is a California-based multidisciplinary artist who grew up in the heart of the American tech world. Her work ranges from illustration to video games to animations, and often involves a critical eye  for existing in the modern world and within its systems. Her background in computer science both allows for analysis and implementation of systems. 
    </p>
</div>  	
<div style="padding:50px">
	<div style="height:2px;width:100%;background-color:white" class="my-auto"></div>
</div>
<div class=" text-center my-auto ">
    <h1>ARTIST STATEMENT</h1>
    <p>
Modern society confounds and convolutes in new and exciting ways, but the spectre of doom has always haunted mortals from the beginning of time. As one of the victims of such a nefarious plot by our own brains, I enact my own coping mechanisms in the hopes of reaching an intellectual conclusion for impossible questions and intertwine the apocalypse with the carnivalesque.
    </p>
  </div></div>  
</div>
