<link rel="stylesheet" href="css/art_style.css">

<div class="section">
  <div class=" text-center my-auto">
    <h1>MEDIZINE</h1>
    <p>
      A nonprofit medical independent publication.
    </p>
  </div>
</div>

<div class="section">
  <div class=" text-center my-auto">
    <h1>FLESHSOUP</h1>
    <p>
      A merchandise line. (coming soon)
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>ICEE SOLUTIONS LLC</h1>
    <p>
      A p5.js clock experiment. Time is often valuable only due to its scarcity. In our case, we only have as much as our lifespan allows. My clock measures time in micromorts, which is a unit that is one out of a million chance of death. When this clock runs in real time, it takes 100 “yous” and assigns them each an amount of micromorts. Then, for every unit of time (in my case milliseconds) the clock performs a check of which people have died. Done in real time, the clock mostly doesn’t seem to be doing anything; however, over the course of years, one may see that the “yous” slowly die off one by one, and a person running this clock will essentially have to race the clock to emerge alive. 
    </p>
  </div>
</div>