<link rel="stylesheet" href="css/art_style.css">

<div class="section">
  <div class=" text-center my-auto">
    <h1>DIGITAL ILLUSTRATION</h1>
    <p>
      aaaa
    </p>
  </div>
</div>

<div class="section">
  <div class=" text-center my-auto">
    <h1>PAINTINGS</h1>
    <p>
      aaaa
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>DRAWINGS</h1>
    <p>
      aaaa
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>COMICS</h1>
    <p>
      aaaaa
    </p>
  </div>
</div>