<link rel="stylesheet" href="css/cs_style.css">

<div class="section">
  <div class=" text-center my-auto">
    <h1>SOPHIA CAO</h1>
    <p>
      Here are some projects I'm proud of. For more, check out my itch.io page!
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>1-800-GOD-TALK</h1>
    <p>
      Talk to GOD! She's friendly, sometimes.
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>batadeNDS</h1>
    <p>
      A glitch paint program ported to DS. Experimenting with tools and abandonware. Made in conjunction with ABANDONJAM
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>REFURBIA SUBURBIA</h1>
    <p>
      2018 - A 2D walking simulator about being at home, being alone, and being haunted.
    </p>
  </div>
</div>
<div class="section">
  <div class=" text-center my-auto">
    <h1>COLLABORATIVE PROJECTS</h1>
    <p>
      GARDENLIGHT MAMA
    </p>
  </div>
</div>
